/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
AppServiceProvider.php
package-lock.json
config

# mac
**/.DS_Store

**/node_modules

# envs
**/.env.*
**/.env
**/env
**/envs